*{
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

html{
    font-size: 62.5%
}

body{
    box-sizing: border-box;
}

/*****Header*****/

header{
    background: url('Images/bg-header.jpg');
    height: 60vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center
}

.header-box .logo-header{
    height: 15rem;
    margin-bottom: 8rem
}

.header-box h1{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: white
}

.header-box ul{
    display: flex;
    justify-content: center
}

.header-box ul li{
    list-style: none;
    margin: 0 1.5rem;
    font-size: 1.6rem;
    margin-bottom: 7rem;
}

.header-box ul li a{
    text-decoration: none;
    color: white;
}

.header-box ul li a:hover{
    color: #14A2B7;
}

.circle{
    height: 10rem;
    width: 10rem;
    background-color: #343434cb;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4rem
}

.circle img{
    height: 6rem;
    
}

.icons-list{
    display: flex;
    margin-bottom: 9rem
}

.mouse {
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-50%);
    border: 3px solid white;
    width: 18px;
    margin: auto;
    background-color: transparent;
    height: 35px;
    border-radius: 10px;
}
      
  .wheel {
    width: 1px;
    height: 1px;
    border: 2px solid white;
    background-color: white;
    position: relative;
    border-radius: 50%;
    left: 50%;
    margin-left: -2px;
    top: 7px; 
    animation: scroll 1s infinite;
}
    
  @keyframes scroll {
    0%   { top: 6px; opacity: 0;}
    20% { opacity: 1; }
    80% { opacity: 1;}
    100% {top: 20px; opacity: 0;}
}

  /*****Section1****/

  .section1{
    background: #e9eef9;
    height: 30rem;
}



  /****Section2****/

  .section2{
      padding: 2rem 0;
      background-color: #eee;
}

  .section2 .module-box a{
    text-decoration: none;
    color: #4d4d4d
}

/*.speciality-box:hover a:nth-child(even){
    
}

.speciality-box:hover a:nth-child(odd){
    color: #777FFE;
}*/
  .section2 h2{
      font-size: 3rem;
      text-align: center;
      margin-bottom: 8rem;
}

  .section2 .speciality{
      display: flex;
      justify-content: center;
}

  .section2 .card-speciality{
      width: 55rem;
      background-color: white;
      margin: 1.5rem;
      padding: 1rem
}

  .text-box{
      display: flex;
      align-items: center;
      color: #777FFE;
      margin-bottom: 2rem
}

  .icon-speciality{
      height: 4rem;
      margin-right: 1rem
}

  .card-speciality h3{
      font-size: 2.5rem;
      
}

  .module-box{
      display: flex;
      text-align: center;
      justify-content: center;
}

  .module-box img{
      height: 7rem;
      margin-bottom: 1rem;
      padding: 0.5rem
}

  .module-box h5{
      font-size: 1.3rem;
}

  .module-box a h5:hover{
    color: #777FFE
}

.module-box a img:hover{
    color: #4d4d4d;
    filter: grayscale(50%);
}

  .speciality-box{
    margin: 0 1rem
}

.more a{
    text-decoration: none;
    float: right;
    margin: 2rem 2rem .5rem 2rem;
    font-size: 1.4rem;
    color: #14A2B7
}

.more a:hover{
    color: #4d4d4d
}

/*section3*/

.section3{
    height: 30rem;
    width: 100%;
    background-color: #777FFE;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center
}

.section3 h2{
    font-size: 3.5rem;
    margin-bottom: 2rem
}

.section3 h4{
    font-size: 2.5rem;
    margin-bottom: 2rem
}

.section3 button{
    padding: 1rem 1.5rem;
    background-color: #14A2B7;
    border: none;
    color: white;
    font-size: 1.6rem;
    cursor: pointer
}

.section3 button:hover{
    box-shadow: 0px 2px 6px -2px rgba(0,0,0,0.75);
}

/*****section4*****/

.section4{
    text-align: center;
    padding: 4rem 1rem;
    margin-bottom: 4rem;
}

.section4 h3{
    color: #4d4d4d;
    font-size: 3rem;
    margin-bottom: 4rem
}

.section4 .icons{
    display: flex;
    justify-content: center;
}

.section4 img{
    height: 7rem;
    margin: 0 8rem;
    transition: all .3s
}

.section4 h5{
    font-size: 1.6rem
}

.section4 a{
    text-decoration: none;
    color: #4d4d4d;
}

.icons .icon-img:hover{
    transform: scale(1.1);
    transition: all .3s
}

/*****FOOTER******/


footer{
    background: #0d0e1c;
    color: #e2e4f5;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-icon{
    display: flex;
    justify-content: center;
}

.s-ul_footer{
    display: flex;
    margin-bottom: 1rem;
}

.s-ul_footer li{
    list-style: none;
    display: inline;
    padding: 0 .7rem;
}

.s-ul_footer img{
    height: 3.4rem;
}

footer h6{
    text-align: center;
    font-size: 1.5rem;
}



/**************Responsive******************/


